 <nav class="navbar navbar-inverse navbar-fixed-top second">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="fkpc/index">FKPC</a>
    </div>
  </div>
</nav>

<p id="notice"><%= notice %></p>
<div class="container" id="allannouncements">
  <h1>Announcements</h1>

  <% @announcements.each do |announcement| %>
  <div class="card">
    <div class="card-block">
        <h4 class="card-title"><%= announcement.title %></h4>
        <p class="card-text"><%= announcement.description %></p>
    </div>
    <div class="card-footer">
      <%= link_to 'Show', announcement %>
      <%= link_to 'Edit', edit_announcement_path(announcement) %>
      <%= link_to 'Destroy', announcement, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>

  <% end %>

  <br>
  <%= link_to 'New Announcement', new_announcement_path %>
</div>
