<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sermon.title %>
</p>

<p>
  <strong>Video:</strong>
  <%= @sermon.video %>
</p>

<%= link_to 'Edit', edit_sermon_path(@sermon) %> |
<%= link_to 'Back', sermons_path %>
